{% extends "default.html" %}
{% block title %}Component XML Export{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">XML Export</h2>
    <p class="card-text">For future uploads this would be the contents of <code>{{md.filename_xml}}</code>:</p>
    <pre>{{xml|safe}}</pre>
  </div>
</div>

{% endblock %}
