{% extends "default.html" %}
{% block title %}Component Shard Details{% endblock %}

{% block nav %}{% include 'shard-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Component Shard Details</h2>
<form method="post" action="{{url_for('shards.route_modify', component_shard_info_id=shard.component_shard_info_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group card-text">
    <label for="name">Name</label>
    <input class="form-control" type="text" id="name" name="name" placeholder="NvmeRecovery" value="{{shard.name or ''}}"/>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description" name="description" rows="10">{{shard.description if shard.description}}</textarea>
  </div>
{% if g.user.check_acl('@admin') %}
  <div class="form-group">
    <label for="claim_id">GUID Claim:</label>
    <select class="form-control" id="claim_id" name="claim_id">
      <option value="" {{ 'selected' if shard.claim_id == 0 }}>None</option>
{% for claim in claims %}
      <option value="{{claim.claim_id}}" {{ 'selected' if shard.claim_id == claim.claim_id }}>{{claim.summary}}</option>
{% endfor %}
    </select>
  </div>
{% endif %}
  <input type="submit" class="card-link btn btn-primary" value="Save">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Shard?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once deleted, shard info can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('shards.route_delete', component_shard_info_id=shard.component_shard_info_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
