{% extends "default.html" %}
{% block title %}Download Limits{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}

<form method="post" action="{{url_for('firmware.route_modify', firmware_id=fw.firmware_id)}}" class="form">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title">Reported Success</h2>
    <p class="card-text">
      Firmware will be pulled back to embargo from testing or stable if enough
      failures are reported by end users.
    </p>
    <p class="card-text">
      The values set here are not set instantly and may take up to one hour to
      apply.
    </p>
    <div class="form-group">
      <label for="failure_minimum">Failures Required</label>
      <input type="number" min="1" max="100" class="form-control" id="failure_minimum" name="failure_minimum" value="{{fw.failure_minimum}}">
    </div>
    <div class="form-group">
      <label for="failure_percentage">Threshold Percentage</label>
      <input type="number" min="1" max="100" class="form-control" id="failure_percentage" name="failure_percentage" value="{{fw.failure_percentage}}">
    </div>
    <input type="submit" class="btn btn-primary card-link" value="Change"/>
  </div>
</div>
</form>

{% endblock %}
