{% extends "default.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Error!</h2>
  </div>
</div>

        <div class="row flex-center min-vh-100 py-6 text-center">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5">
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="display-1 text-200 fs-error">404</div>
                <p class="lead mt-4 text-800 text-sans-serif font-weight-semi-bold">The page you're looking for is not found.</p>
                <hr />
                <p>
                  Make sure the address is correct and that the page hasn't moved.
                  If you think this is a mistake, <a href="{{config['TICKET_URL']}}">open an issue</a>.
                </p>
                <a class="btn btn-primary btn-sm mt-3" href="../../index.html">
                  <img class="fa" src="{{url_for('cdn', filename='img/home-solid.svg')}}" width="16px" height="16px" />
                  Take me home
                </a>
              </div>
            </div>
          </div>
        </div>

{% endblock %}
