{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}

{% if not reports|length %}

<div class="card">
  <div class="card-body">
    <p class="card-text text-secondary">
      No reports exist.
    </p>
  </div>
</div>

{% else %}

{% for r in reports %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-{{r.color}}">
    {{r.fw.vendor.display_name}} {{r.fw.names|join(' & ')}}
    <code class="float-right">{{format_humanize_naturaltime(r.timestamp)}}</code>
  </h2>
  <div class="card-body">
    <table class="table">
    <tr class="row table-borderless">
      <th class="col col-sm-4">Checksum</th>
      <td class="col col-sm-8">
        <code>{{r.checksum}}</code>
      </td>
    </tr>
    <tr class="row table-borderless">
      <th class="col col-sm-4">Machine ID</th>
      <td class="col col-sm-8">
        <code>{{r.machine_id}}</code>
      </td>
    </tr>
{% if r.user_id %}
    <tr class="row table-borderless">
      <th class="col col-sm-4">Uploader</th>
      <td class="col col-sm-8">
{% if g.user.check_acl('@admin') %}
        <code>{{r.user.username}} ({{r.user.vendor.display_name}})</code>
{% else %}
        {{r.user.vendor.display_name}}
{% endif %}
      </td>
    </tr>
{% endif %}
{% for attr in r.attributes|sort %}
      <tr class="row table-borderless">
        <th class="col col-sm-4">{{attr.key}}</th>
        <td class="col col-sm-8"><code>{{attr.value}}</code></td>
      </tr>
{% endfor %}
    </table>
{% if g.user.check_acl('@admin') %}
    <form action="{{url_for('reports.route_delete', report_id=r.report_id)}}" method="POST">
      <a class="card-link btn btn-info" href="{{url_for('firmware.route_show', firmware_id=r.fw.firmware_id)}}">Details</a>
      <a class="card-link btn btn-info" href="{{url_for('reports.route_view', report_id=r.report_id)}}">As JSON</a>
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-danger float-right">Delete</button>
    </form>
{% endif %}
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
