{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <h2 class="card-title">Uploads :: Claim</h2>
<script src="{{url_for('cdn', filename='Chart.js')}}"></script>
<script>
Chart.defaults.global.animation = false;
</script>

<p class="card-text">
This data is also available pre-filtered for
<a href="{{url_for('analytics.route_claim', timespan_years=7, claim_kinds_str='ibv-ami,ibv-insyde,ibv-phoenix')}}">bios vendors</a> and
<a href="{{url_for('analytics.route_claim', timespan_years=7, claim_kinds_str='hp-surestart,intel-bios-guard,intel-boot-guard')}}">boot features</a>.
</p>

<canvas id="metadataChartClaims" width="1000" height="600"></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("metadataChartClaims").getContext("2d");
var data = {
    labels: {{labels|safe}},

    datasets: [
{% for ds in datasets %}
        {
            label: "{{ds.label}}",
            borderColor: "#{{ds.color}}",
            backgroundColor: "#{{ds.color}}",
            fill: false,
            pointRadius: 1,
            data: [{% for val in ds.data %}{{val}}, {% endfor %}],
        },
{% endfor %}
    ]
};
new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        legend: {
            position: 'bottom',
            display: true
        },
        scales: {
            yAxes: [{
                ticks: {
                    precision: 0,
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
{% endblock %}
