{% extends "default.html" %}
{% block title %}HSI Devices{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">User Host Security Reports</h2>
    <p class="card-text">
      These reports have been uploaded by unverified end-users and <strong>results may be misleading or incorrect</strong>.
      You should check yourself with a new fwupd version on actual hardware before using this list for purchasing decisions.
    </p>
    <p class="card-text">
      Vendors listed below may not have any existing relationship with the LVFS.
    </p>
  </div>
</div>

{% for v in vendors %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
{% set vendor = vendors_map.get(v) %}
{% if vendor and vendor.icon %}
      {{vendor.display_name}}
      <img class="img-thumbnail float-right" src="/uploads/{{vendor.icon}}" width="96"/>
{% else %}
      {{v}}
      <img class="img-thumbnail float-right" src="/uploads/vendor-unknown.png" width="96"/>
{% endif %}
    </h2>
    <ul class="list-group">
{% for rpt in vendors[v] %}
      <li class="list-group-item">
        <a href="{{url_for('hsireports.route_device_sku', host_vendor=rpt.host_vendor, host_family=rpt.host_family, host_product=rpt.host_product)}}">
{% if v == 'LENOVO' %}
          {{rpt.host_family}}</a> &mdash; {{rpt.host_product}}
{% elif v in ['Dell Inc.', 'Alienware'] %}
          {{rpt.host_product}}</a>
{% else %}
          {{rpt.host_product}}</a>
{% if rpt.host_family_valid %}
           &mdash; {{rpt.host_family}}
{% endif %}
{% endif %}
      </li>
{% endfor %}
    </ul>
  </div>
</div>
{% endfor %}

{% endblock %}
