{% extends "default.html" %}
{% block title %}Event Log{% endblock %}

{% block content %}

<div class="list-group">
{% for e in events %}
  <div class="list-group-item list-group-item-action {{'list-group-item-warning' if e.is_important}}">
{% if e.message.find("Traceback") != -1 %}
<pre>{{e.message}}</pre>
{% else %}
<h5>{{e.message}}</h5>
{% endif %}
    <p class="text-secondary">
{% if e.user.username != 'anon@fwupd.org' %}
      {{e.user.username}}
{% else %}
      Anonymous user
{% endif %}
{% if e.request and e.request != '/' %}
      called <code>{{e.request}}</code>
{% endif %}
      {{format_humanize_naturaltime(e.timestamp)}}
{% if e.address != '127.0.0.1' %}
      from <code>{{e.address}}</code>
{% endif %}
{% if e.container_id %}
      on <code>{{e.container_id}}</code>
{% endif %}
      </p>
  </div>
{% endfor %}
</div>

<ul class="pagination mt-3">
{% if start >= page_length %}
  <li class="page-item">
    <a class="page-link" href="{{url_for('main.route_eventlog', start=start-page_length, length=page_length)}}" tabindex="-1">Previous</a>
  </li>
{% else %}
  <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1">Previous</a>
  </li>
{% endif %}
{% for page in range(total_length // page_length) %}
{% if start / page_length == page %}
  <li class="page-item active">
    <a class="page-link" href="#!">{{page+1}} <span class="sr-only">(current)</span></a>
  </li>
{% else %}
  <li class="page-item"><a class="page-link" href="{{url_for('main.route_eventlog', start=page*page_length, length=page_length)}}">{{page+1}}</a></li>
{% endif %}
{% endfor %}
  <li class="page-item">
    <a class="page-link" href="{{url_for('main.route_eventlog', start=start+page_length, length=page_length)}}">Next</a>
  </li>
</ul>
{% endblock %}
