{% extends "default.html" %}
{% block title %}Mirror Sync{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Mirror Sync</h2>
    <p class="card-text">
      The LVFS can mirror and auto-import firmware contents from other instances.
      When files are retrieved <strong>they are re-signed and re-published</strong>
      for this local instance.
      Initially syncing from a mirror can take several hours, even with a fast
      network connection.
    </p>
{% if mirrors|length == 0 %}
    <p class="card-text">
      No mirrors have been created.
    </p>
{% endif %}
  </div>
</div>

{% for mirror in mirrors %}
<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-{{mirror.color}}">
    {{mirror.name}}
    <span class="float-right text-monospace">{{mirror.uri}}</span>
  </h2>
  <div class="card-body">
    <table class="table">
{% if mirror.metadata_basename %}
      <tr class="row table-borderless">
        <th class="col col-2">Metadata Source:</th>
        <td class="col col-10"><code>{{mirror.metadata_basename}}</code></td>
      </tr>
{% endif %}
{% if mirror.task and mirror.task.status %}
      <tr class="row table-borderless">
        <th class="col col-2">Status:</th>
        <td class="col col-10">{{mirror.task.status}}</td>
      </tr>
{% endif %}
{% for mirror_filter in mirror.filters %}
      <tr class="row table-borderless">
        <th class="col col-2">Filter:</th>
        <td class="col col-10"><code>{{mirror_filter.key}}={{mirror_filter.value}}</code></td>
      </tr>
{% endfor %}
{% if mirror.task and mirror.task.percentage %}
      <tr class="row table-borderless">
        <th class="col col-2">Complete:</th>
        <td class="col col-10">{{mirror.task.percentage}}%</td>
      </tr>
{% endif %}
{% if mirror.size_total %}
      <tr class="row table-borderless">
        <th class="col col-2">Archive Size:</th>
        <td class="col col-10">{{format_size(mirror.size_now)}} of {{format_size(mirror.size_total)}}</td>
      </tr>
      <tr class="row table-borderless">
        <th class="col col-2">Storage Estimate:</th>
        <td class="col col-10">{{format_size(mirror.size_total * 3)}}</td>
      </tr>
{% endif %}
    </table>
    <a class="card-link btn btn-info"
       href="{{url_for('mirrors.route_show', mirror_id=mirror.mirror_id)}}"
       role="button">Details</a>
  </div>
</div>
{% endfor %}

<form method="post" action="{{url_for('mirrors.route_create')}}" class="form">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Create a new mirror</h2>
    <p class="card-text">
      <input class="form-control" type="text" name="name" placeholder="name..." required>
    </p>
    <input class="card-link btn btn-primary" type="submit" value="Add">
  </div>
</div>
</form>

{% endblock %}
