{% extends "default.html" %}
{% block title %}Device{% endblock %}

{% block nav %}{% include 'device-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{fws[0].md_prio.name}}</h2>

<p class="card-text">This page show all the firmware releases in each quarter.</p>

<script src="{{url_for('cdn', filename='Chart.js')}}"></script>
<script>
Chart.defaults.global.animation = false;
</script>
<canvas id="ChartDevice" width="1000" height="400"></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("ChartDevice").getContext("2d");
var data = {
    labels: {{labels|safe}},
    datasets: [
        {
            label: "Firmware",
            borderColor: "rgba(20,120,220,0.2)",
            backgroundColor: "rgba(20,120,220,0.2)",
            data: {{data|safe}}
        },
    ]
};

new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    fixedStepSize: 1
                }
            }],
        },
        legend: {
            display: false
        }
    }
});

</script>

{% endblock %}
