{% extends "default.html" %}

{% block title %}Hardware Vendors{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <h2 class="card-title">Hardware Vendors</h2>
<p class="card-text">
  This service should only be used to distribute files that are
  <em>flashed</em> onto non-volatile memory.
  <b>There is no charge to vendors for the hosting or distribution of content.</b>
</p>
  </div>
</div>

<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-info">Do I have to contribute any code?</h2>
  <div class="card-body">
    <p class="card-text">
      No, unless you're using a custom update protocol that fwupd does not already support.
      In this case you can either write a new plugin with a free license,
      or provide specifications to the fwupd developers.
      Most hardware can be updated using the existing UEFI UpdateCapsule or DFU code in fwupd.
    </p>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Upload Firmware</h2>
<p class="card-text">
  Once you have <a href="{{url_for('main.route_new_account')}}">requested an account on the LVFS</a>
  and have legal permission to redistribute the firmware, you can log in and
  upload files using the admin console.
  Files can be uploaded privately for testing and optionally embargoed until a specific date.
</p>

<p class="card-text">
  All firmware is uploaded as a cabinet archive, which matches the
  <a href="https://msdn.microsoft.com/en-us/library/windows/hardware/dn917810%28v=vs.85%29.aspx">Microsoft Update</a> requirements.
  Along with the firmware binary, the LVFS expects the archive to contain at least
  one <a href="{{url_for('docs.route_metainfo')}}">.metainfo.xml</a> file that describes the target device and firmware.
  You can create a cabinet archives using <code>makecab.exe</code> on Windows and <code>gcab</code>
  on Linux.
</p>
  </div>
</div>

{% endblock %}
